/*
BODY: Width y height ¿?
       mismo tipo de fuente 

HEADER: fondo negro,   
list-header: clase para listado, letra blanca, =tamaño y fuente. creamos la lista en <a> y que no sirve ponerlo en <ul> (especificidad)


sección1: crear una clase, fondo azul, color letra blanca
sección2: crar una clase, fondo blanco, color letra negra.

list-section2: LISTADO DE LA SECCIÓN2: posicionamiento

FOOTER:
    list-footer: Clase para el listado del footer especifico en la etiqueta <a>

logo: pequeño y a la izq
logo menu: pequeño a la drch


*/

html {
    font-size:62.5%;
} /* Ver si aplica*/

.body {
    font-family: Roboto, sans-Serif;
}

.header {
    height: 5vh;
    padding: 10px;
    Background-color:black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo {
    height: 30px;
    margin: 5px;
}

.image-menu {
    height: 30px;
}



.navlist {
    text-decoration: none;
    display: none;
    gap: 10px;

}
     
.links-nav {
    text-decoration:none;
}


/*
.links-nav {
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    display:none;
    }
    */ 
    /*elementos ocultos para VERSION TABLET*/
 /*
.header .list {
    display: inline;
}
*/
    
.section1 {
        box-sizing: border-box;
        height: ;
        border:solid 3px red;
        padding: 10px;
        background:cornflowerblue;
        color: white;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 20px;
        align-items: flex-start;
    }

.title {
    font-size: 3rem;
}

.prg1 {
    font-size: 2rem;
}

.button {
    height: 30px;
    width: 150px;
    background-color: rgb(7, 207, 51);
    border-radius: 10px;

}
.button .link {
    color: white;
    text-decoration: none;
}
.prg2 {
    font-size: 1rem;
}

.img {
    display: none;
    width:50%;
    object-fit: contain;
}

/*SECTION 2*/

.section2 {

    border:solid 3px yellow;
    background:white; 
    height:;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 20px;
    gap:50px;
}
.title2 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
}
.box1,.box2,.box3,.box4 {position: relative;
    display: flex;
    width: 75%;
    gap: 20px;
}

.section2 .list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons {
    height: 60px;
}

.list-element1 {
    font-size: 2rem;
}

.list-element2 {
    font-size: 1.5rem;
}





/*FOOTER* pendiente dar forma */ 
.footer {
    height: 10vh;
    background:black;
    color: white;
    display: flex;
    justify-content: space-between;
    

}

.flag {
    height: 10px;
    display: inline;

}

.list-footer { 
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    border:2px solid red;
}

.footer .list {
    display: inline;
}

@media all and (min-width:480px) {
    .img {
        display: flex;

    }
    .navlist {
        display: flex;
    }
    .section1 {

        display:flex;
    } 
    }
}