/*
BODY: Width y height ¿?
       mismo tipo de fuente 

HEADER: fondo negro,   
list-header: clase para listado, letra blanca, =tamaño y fuente. creamos la lista en <a> y que no sirve ponerlo en <ul> (especificidad)


sección1: crear una clase, fondo azul, color letra blanca
sección2: crar una clase, fondo blanco, color letra negra.

list-section2: LISTADO DE LA SECCIÓN2: posicionamiento

FOOTER:
    list-footer: Clase para el listado del footer especifico en la etiqueta <a>

logo: pequeño y a la izq
logo menu: pequeño a la drch


*/

html {
    font-size:62.5%;
} /* Ver si aplica*/

.body {
    font-family: Roboto, sans-Serif;
}

.header {
    height: 80px;
    padding: 10px;
    Background-color:black;
}

.logo {
    height: 35px;
    display: inline;
}

.image-menu {
    height: 35px;
    display: inline;

     /*pendiente: alinear a la derecha*/
}

.links-nav {
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    /*pendiente: alinear a la derecha*/
   

}

.title {
    font-size: 7rem;
   
}

.header .list {
    display: inline;
}
.section1 {
    height: 400px;
    border:solid 3px red;
    padding: 10px;
    background:cornflowerblue;
    color: white
}

.parrafo-1 {
    font-size: 2rem;
}

.button {
    height: 35px;
    width: 150px;
    padding: 10px;
    background-color: rgb(7, 207, 51);
    border-radius: 10px;

}

.button .link {
    color: white;
    text-decoration: none;
}


.parrafo-2 {
    font-size: 1rem;
}
.section2 {
    border:solid 3px red;
    background:cornflowerblue; 
}

.icons {
    height: 70px;
}


.list-section2 {
    height: 600px;
    background-color: white;
    padding: 10px;
      /*aliniar y poner en fila clase 1.2*/  
}
.footer {
    height: 90px;
    background:black;
    color: white;
}

.bandera {
    height: 10px;
}
.list-footer { 
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
}

.footer .list {
    display: inline;
}